.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.menu-form {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin-top: 10%;
    margin-left: 5%;
}

.greet-text {
    margin-left: auto;
    color: #F0663F;
    font-size: 50px;
    font-weight: bold;
    margin-top: 5px;
}

.admin-menu-text {
    margin-right: auto;
    color: #F0663F;
    font-size: 28px;
    font-weight: bold;
    padding-left: 10px;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 5%;
}

.menu-tbt-btn {
    width: 180px;
    height: 180px;
    background-color: #FFFFFF;
    border: 1px solid #F0663F;
    border-radius: 16px;
    cursor: pointer;
}

.menu-tbt-btn2 {
    width: 370px;
    height: 180px;
    background-color: #FFFFFF;
    border: 1px solid #F0663F;
    border-radius: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.menu-icon {
    margin-bottom: 15px;
}

.menu-text {
    font-size: 20px;
    color: black;
}

.logo-img {
    width: 30%;
    height: auto;
    margin-top: 100%;
    margin-bottom: 10%;
}

.more-business-btn {
    width: 370px;
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #f0663f;
    border-radius: 16px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    color: black;
}