.home_carousel_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home_carousel_section .carousel_container {
  width: 100%;
  height: auto;
  position: relative;
  height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #f0663f;
  z-index: 10;
}
.home_carousel_section .carousel_container .slide_wrapper {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.home_carousel_section .carousel_container .slide_container {
  display: flex;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
  user-select: none;
  -webkit-overflow-scrolling: touch;
}
.home_carousel_section .carousel_container .slide_container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge, Opera용 */
}
.home_carousel_section .carousel_container .slide_container .img_div {
  width: 387px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  /* border: 1px solid red; */
  background-color: aqua;
  margin-right: 8.6px;
}
@media (max-width: 500px) {
  .home_carousel_section .carousel_container .slide_container .img_div {
    width: 90vw;
    margin-right: 2vw;
  }
  .home_carousel_section
    .carousel_container
    .slide_container
    .img_div:first-child {
    margin-left: 4vw;
  }
  .home_carousel_section
    .carousel_container
    .slide_container
    .img_div:last-child {
    margin-right: 4vw;
  }
}
.home_carousel_section
  .carousel_container
  .slide_container
  .img_div:first-child {
  margin-left: 17.2px;
}
.home_carousel_section
  .carousel_container
  .slide_container
  .img_div:last-child {
  margin-right: 17.2px;
}
.home_carousel_section .carousel_container .slide_container .img_div p {
  font-size: 40px;
}
.home_carousel_section .carousel_container .index_box {
  width: auto;
  height: auto;
  font-size: 15px;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  color: #f0663f;
}
.home_carousel_section .circle_box {
  width: auto;
  height: 20px;
  border: 1px solid red;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.home_carousel_section .circle_box .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}
.home_carousel_section .btn_box {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #f0663f;
  margin-top: 20px;
  padding: 0;
}
.home_carousel_section .btn_box p {
  width: auto;
  height: 100%;
  margin: 0;
  cursor: pointer;
  padding: 0;
}

.home_carousel_section .btn_box {
  height: auto;
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.home_carousel_section .btn_box p {
  cursor: pointer;
  font-size: 30px;
  padding: 10px;
  color: black;
  border-radius: 5px;
  transition: 0.3s;
}
.btn_box p:hover {
  background-color: #f0663f;
}
