.reservation_modal {
  width: 75%;
  height: auto;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 4px rgba(38, 38, 38, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}
.reservation_modal > img {
  position: absolute;
  top: 1vw;
  right: 1vw;
  cursor: pointer;
}
.reservation_modal .title {
  font-size: 20px;
  font-weight: 600;
  color: #f0663f;
  margin-top: 40px;
}
.reservation_modal .subTitle {
  font-size: 17px;
  font-weight: 500;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 15px;
}
.reservation_modal .selectBox {
  width: 100%;
  height: 2vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.reservation_modal select {
  width: 50%;
  height: 2vw;
  font-size: 15px;
  text-align: center;
}
@media (max-width: 500px) {
  .reservation_modal .selectBox {
    height: 6vw;
  }
  .reservation_modal select {
    height: 100%;
  }
}
.reservation_modal .selectBox p {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 0.5vw;
}
.reservation_modal .text {
  font-size: 15px;
  border: 1px solid #f0663f;
  margin: 0;
  text-align: left;
  padding: 0 10px;
}
.reservation_modal .sendBtn {
  width: 120px;
  height: 50px;
  background-color: #f0663f;
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  cursor: pointer;
}
.reservation_modal .sendBtn img {
  width: 20%;
  height: 50%;
}
