/* UserInformation.js */
.user_information_total .input_box {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 30px;
  justify-content: space-between;
}
.user_information_total .input_box input {
  width: 28%;
}

/* HomePage.js */
.home_total .button-item {
  cursor: pointer;
}
.home_total .home-location img {
  height: 100%;
}

/* UserEdit.js */
.user_edit_total .input_box {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 30px;
  justify-content: space-between;
}
.user_edit_total .input_box input {
  width: 28%;
}

/* PetRegistrationPage.js */
.registration_total .text_area {
  height: auto;
  margin-bottom: 30px;
}
.registration_total .text_area p {
  margin-bottom: 30px;
}
.registration_total .text_area textarea {
  text-align: left;
}

/* LoginPage.js */
.login_total .login-title img {
  width: 30%;
}

/* LoginSuccessPage.js */
.loginPage_total .confirm p {
  width: 100%;
}
.loginPage_total .Nbutton2 div {
  cursor: pointer;
}

/* UserEditModal.js */
.modal1_total {
  /* max-height: 30vw; */
}
