.App {
  text-align: center;
  align-items: center;
  background-color: #a3a3a3;
  border: 1px solid red;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 430px;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: #ffffff;
  position: relative;
  margin: 0 auto;
  border: 3px solid green;
}
@media (max-width: 500px) {
  .Container {
    width: 100vw;
    border: 3px solid purple;
  }
}
.Container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge, Opera용 */
}
