.App {
  width: 100%;
  text-align: center;
  align-items: center;
  background-color: #a3a3a3;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 430px;
  min-height: 100vh;
  height: auto;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: #ffffff;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .Container {
    width: 100%;
  }
}
.Container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge, Opera용 */
}
